{% if mastodonPosts | length > 0 %}
{% for post in mastodonPosts %}

    <h2>{{ post.data.title }}</h2>
        <ul class="post-metadata">
            <li><time datetime="{{ post.created_at | htmlDateString }}" style="color: var(--text-color-link)">Posted on: {{ post.created_at | readableDate("MMMM dd, yyyy, h:mm a") }}</time></li>
        </ul>
    
    {{ post.content | safe }}
    {% for media in post.media_attachments %}
              <center><img eleventy:widths="450" src="{{ media.url }}" alt="Mastodon Image" /></center>
            {% endfor %}
 <br />
{% endfor %}
{% else %}
  <p>No posts available.</p>
{% endif %}
