<div class="webmentions" id="webmentions">
  {% if mentions.comments %}
  <h4>{{ mentions.comments | length }} Comments</h4>
  <div class="comments">
    {% for item in mentions.comments %}
      <div class="comment">
        <a href="{{ item.author.url }}" class="comment-author"><img src="{{ item.author.photo}}" class="mention-image" alt="photo of the author of one of the webmentions for this page"></a>
        <p class="comment-content">{{ item.content | safe }}</p>
        <p class="comment-date">{{ item.published | plainDate }}</p>
      </div>
    {% endfor %}
  </div>
  {% endif %}

  {% if mentions.likes %}
    <h4 class="webm">{{ mentions.likes | length }} Likes</h4><br>
    <div class="likes">
      {% for item in mentions.likes %}
        <a href="{{ item.url }}"><img src="{{ item.photo }}" class="mention-image" alt="photo of the author of one of the webmentions for this page"></a>
      {% endfor %}
    </div>
    {% endif %}
  {% if mentions.reposts %}
  <h4 class="webm">{{ mentions.reposts | length }} Reposts</h4><br>
      {% for item in mentions.reposts %}
        <a href="{{ item.url }}"><img src="{{ item.photo }}" class="mention-image" alt="photo of the author of one of the webmentions for this page"></a>
      {% endfor %}
    </div>
{% endif %}
  </div>
