/* Defaults */
import 'markdown-it-github-alerts/styles/github-colors-light.css'
import 'markdown-it-github-alerts/styles/github-colors-dark-media.css'
import 'markdown-it-github-alerts/styles/github-base.css'
@import url('https://fonts.bunny.net/css?family=inclusive-sans:400,400i');

 @font-face {
  font-family: "Inclusive Sans";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/inclusive-sans-latin-400-normal.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inclusive Sans";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/fonts/inclusive-sans-latin-400-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
	font-family: "Departure";
	font-style: normal;
	font-weight: 400;
	src: url("/assets/fonts/DepartureMono-Regular.woff2") format("woff2");
	font-display: swap;
}

:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;

	--background-color: #fefefe;
	--text-color: #212829;
	--text-color-link: #b30d0d;
	--text-color-link-active: #e06727;
	--text-color-link-visited: #247e81;
	--border-color: #d81c23;
	--syntax-tab-size: 2;

  --font-size-xs: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --font-size-base: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
  --font-size-lg: clamp(1.56rem, calc(1.41rem + 0.76vw), 2rem);
  --font-size-xl: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem);
  --font-size-xxl: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.55rem);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #dad8d8;

		--text-color: #f2f6f7;
		--text-color-link: #ff6a3d;
		--text-color-link-active: #f4db7d;
		--text-color-link-visited: #9daaf2;
		--border-color: #ff6a3d;
		--background-color: #1a2238;
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: "Departure";
	color: var(--text-color);
	background-color: var(--background-color);
	text-wrap: pretty;
}
html {
	overflow-y: scroll;
}
body {
	max-width: 40em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Inclusive Sans';
}

h1 {
	color: var(--text-color);
	font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-base);
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

img,
picture {
  height: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.75;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color);
  text-decoration-color: var(--text-color-link);
  text-decoration-thickness: .175em;
  text-decoration-style: solid;
  text-underline-offset: .16rem;
}
a[href]:visited {
	color: var(--text-color);
  text-decoration-color: var(--text-color-link-visited);
  text-decoration-thickness: .175em;
  text-decoration-style: solid;
  text-underline-offset: .16rem;
}
a[href]:hover,
a[href]:active {
	color: var(--text-color);
  text-decoration-color: var(--text-color-link-active);
  text-decoration-thickness: .175em;
  text-decoration-style: solid;
  text-underline-offset: .18rem;
}

blockquote {
	padding: 0 1em;
  color: var(--color-gray-90);
  border-left: 0.25em solid var(--text-color-link-active);
}

/*
.button {
    display: inline-block;
    background: var(--text-color-link);
    color: var(--background-color);
    border-radius: 4px;
    padding: 1px;
    border: none;
    font-size: var(--font-size-base);
    place-items: center;
    font-size: inherit;
    line-height: 1.15em;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
}

.button a {
    text-decoration: none !important;
}

.button:hover {
    background-color: var(--text-color-link-active);
    color: var(--background-color);
}
*/

main,
footer {
	padding: 1.25rem;
}
main :first-child {
	margin-top: .5rem;
}

header {
	border-bottom: 2px solid var(--border-color);
}
header:after {
	content: "";
	display: table;
	clear: both;
}

.links-nextprev {
	font-family: 'Inclusive Sans';
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	padding: 1em 0;
}
.links-nextprev {
	border-top: 2px dashed var(--text-color-link-active);
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre {
	border: 3px solid var(--text-color-link);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}
code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	gap: 1em .5em;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
}
.home-link {
	color: var(--text-color-link-visited) !important;
	font-family: var(--font-family);
	font-size: 2em; /* 16px /16 */
	font-weight: 900;
	margin-right: 2em;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}
.home-link:link:hover {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-top: 0.5em;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	color: var(--text-color);
  text-decoration-color: var(--text-color-link);
  text-decoration-thickness: .175em;
  text-decoration-style: solid;
  text-underline-offset: .16rem;
}
.nav a[href][aria-current="page"] {
	color: var(--text-color);
  text-decoration-color: var(--text-color-link-active);
  text-decoration-thickness: .175em;
  text-decoration-style: solid;
  text-underline-offset: .18rem;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
  text-decoration-color: var(--text-color-link);
  text-decoration-thickness: .175em;
  text-decoration-style: solid;
  text-underline-offset: .16rem;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

.footer {
	font-family: 'Inclusive Sans';
	}

.footer-links {
  list-style: none;
  display: flex;
  color: var(--text-color-link);
  align-items: left;
  gap: 1.5rem;
  padding-left: 0;
}

/* Blogroll */

.blogroll a {
    text-decoration: none;
}

.blogpost a {
    text-decoration-color: var(--text-color-link);
    text-decoration-thickness: .150em;
    text-underline-offset: 2px;
    color: var(--text-color);
}


.blogroll:hover {
   outline: 1px solid var(--text-color-link-active);
   background-color: var(--text-color-link-active);
   color: var(--background-color) !important;
   text-decoration: none;
}

.blogpost:hover {
    color: var(--text-color);
    text-decoration-color: var(--text-color-link-active);
    text-underline-offset: 4px;
}
