---
eleventyNavigation:
  key: Blog
  order: 2
pagination:
  data: collections.posts
  size: 10
  alias: blogposts
  reverse: true
---
<h1>Posts</h1>

{% for post in blogposts %}

    <h2>{{ post.data.title }}</h2>
		<p><time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("dd LLLL yyyy") }}</time></p>
    <p>{{ post.data.description }}</p>

    <p><a href="{{ post.url }}" class="button">Read on</a></p>
 <hr>
{% endfor %}

<br />
{% if pagination.pages.length > 1 %}
  <nav aria-label="Post pages">
<center>

        {% if page.url != pagination.href.first %}
          <a href="{{ pagination.href.first }}">{% lucide "arrow-big-left-dash" %}</a>
        {% else %}
          <span aria-hidden="true">{% lucide "arrow-big-left-dash" %}</span>
<span class="visually-hidden">First page</span>
        {% endif %}

        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}">{% lucide "arrow-big-left" %}</a>
        {% else %}
          <span aria-label="Previous Page">{% lucide "arrow-big-left" %}</span>

        {% endif %}

      <!-- Loop over pagination.pages array and add the pages to the list -->
      {%- for pageEntry in pagination.pages %}

           <a href="{{ pagination.hrefs[ loop.index0 ] }}"
            {% if page.url == pagination.hrefs[ loop.index0 ] %}
              aria-current="page"
            {% endif %}
          >{{ loop.index }}</a>

      {%- endfor %}

        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}">{% lucide "arrow-big-right" %}</a>
        {% else %}
          <span aria-label="Next Page">{% lucide "arrow-big-right" %}</span>

        {% endif %}

        {% if page.url != pagination.href.last %}
          <a href="{{ pagination.href.last }}">{% lucide "arrow-big-right-dash" %}</a>
        {% else %}
          <span aria-label="Last Page">{% lucide "arrow-big-right-dash" %}</span>

        {% endif %}
</center>
  </nav>
{% endif %}
