---
eleventyNavigation:
  key: Social
  order: 7
---
<h1>Social Posts</h1>
<h3>Where my latest <a href="https://social.lol/@jasonm" alt="Mastodon">Mastodon</a> posts reside context free</h3>

{% include "mastodonPosts.njk" %}