---
eleventyNavigation:
  key: Notes
  order: 5
pagination:
  data: collections.notes
  size: 6
  alias: noteposts
  reverse: true
---
<h1>Notes</h1>

{% for post in noteposts %}

    <h2>{{ post.data.title }}</h2>
        <ul class="post-metadata">
            <li><time datetime="{{ post.date | htmlDateString }}" style="color: var(--text-color-link)">{{ post.date | readableDate }}</time></li>
        </ul>

    {{ post.content | safe }}
    <p><a href="{{ post.url }}" class="button">Read more</a> {% lucide "move-right", { "width": "12", "height": "12", "stroke-width": "6" } %}</p>
 <hr>
{% endfor %}

<p><h1>Statuslog</h1></p>
<p><script src="https://status.lol/jasonm.js?time&link&fluent"></script></p>

<br />
{% if pagination.pages.length > 1 %}
  <nav aria-label="Post pages">
<center>

        {% if page.url != pagination.href.first %}
          <a href="{{ pagination.href.first }}">First</a>
        {% else %}
          <span aria-disabled="true">First</span>
        {% endif %}

        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}">Previous</a>
        {% else %}
          <span aria-disabled="true">Previous</span>

        {% endif %}

      <!-- Loop over pagination.pages array and add the pages to the list -->
      {%- for pageEntry in pagination.pages %}

           <a href="{{ pagination.hrefs[ loop.index0 ] }}"
            {% if page.url == pagination.hrefs[ loop.index0 ] %}
              aria-current="page"
            {% endif %}
          >{{ loop.index }}</a>

      {%- endfor %}

        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}">Next</a>
        {% else %}
          <span aria-disabled="true">Next</span>

        {% endif %}

        {% if page.url != pagination.href.last %}
          <a href="{{ pagination.href.last }}">Last</a>
        {% else %}
          <span aria-disabled="true">Last</span>

        {% endif %}
</center>
  </nav>
{% endif %}
