<style>
    .root {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: linear-gradient(135deg, #e31c3d,#50d0ee);
    }
  
    .title {
      color: #fefefe;
      font-size: 80px;
      margin: auto 10px;
    }
  </style>
  
  <div class="root">
    <h1 class="title">{{ title }}</h1>
    <h2 style="font-size: 44px; color: #fefefe">{{ description }}</h2>
  </div>