---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<h1>{{ title }}</h1>

<ul class="post-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}" style="color: var(--text-color-link)">{{ page.date | readableDate }}</time></li>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag" aria-label="{{ tag }}">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>

{{ content | safe }}

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li class="links-nextprev-prev"><em>← Previous</em><br> <a href="{{ previousPost.url }}" aria-label="{{ previousPost.data.title }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li class="links-nextprev-next"><em>Next →</em><br><a href="{{ nextPost.url }}" aria-label="{{ nextPost.data.title }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
