---
eleventyNavigation:
  key: Blogroll
  order: 6
---
<h1>Blogroll</h1>
<ul>
{% for blog in blogData %}
    <img alt="none" src="{{ blog.favicon }}" width="32" height="32" loading="lazy" decoding="async" />
    <li>
        <h2>
            <a href="{{ blog.url | url }}" target="_blank" class="blogroll" style="text-decoration: none;">
                {{ blog.name }}
            </a>
        </h2>
        {{ blog.cleansedUrl }}<br>

        {% if blog.latestPost and blog.latestPost.title %}
            <span style="color: var(--text-color-link-active)">
                <b>Latest post:</b>
            </span>
            <a href="{{ blog.latestPost.url | url }}" target="_blank" class="blogpost">
                {{ blog.latestPost.title }}
            </a><br /><hr><br />
        {% endif %}
    </li>
{% endfor %}
</ul>

