<h1>Blogroll</h1>
<div>
{% for blog in blogData %}
<br>
    <img alt="none" src="{{ blog.favicon }}">

        <h2>
            <a href="{{ blog.url | url }}" target="_blank" class="blogroll" style="text-decoration: none;">
                {{ blog.name }}
            </a>
        </h2>
        {{ blog.cleansedUrl }}

        {% if blog.latestPost and blog.latestPost.title %}
          <p>  <span style="color: var(--text-color-link-active)">
                <b>Latest post:</b>
            </span>
          <a href="{{ blog.latestPost.url | url }}" target="_blank" class="blogpost">
                {{ blog.latestPost.title }}
            </a></p><br>
        {% endif %}
<hr>
{% endfor %}

</div>
